{{ if ne (env "IS_MACOS") "true" -}}
Library
.finicky.js
darwin-install-packages.sh
darwin-macos-perferences.sh
{{- end }}

{{ if ne (env "IS_LINUX") "true" -}}
linux-install-packages.sh
{{- else -}}
.gitconfig.macos
{{- end }}
ssh_known_hosts