{{ if eq (env "IS_MACOS") "true" -}}
# Use 1Password for managing SSH keys
export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
{{- end }}

{{ if eq (env "IS_LINUX") "true" -}}
# Use copy mode for uv on Linux to avoid symlink issues
export UV_LINK_MODE=copy
{{- end }}

# Symlinked hermit binaries
export PATH="$HOME/.local/setup/bin:$PATH"

# Symlinked devenv binaries (takes precedence over hermit)
export PATH="$HOME/.local/setup/libs/devenv/bin:$PATH"

# Local user binaries
export PATH="$HOME/.local/bin:$PATH"