[color]
    ui=true
[push]
    default=simple
[user]
	email=6029816+mvgijssel@users.noreply.github.com
	name=mvgijssel
	signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPnUEhcD4sCtja1Xfmnn+tGbjLZy1IvuAYgHiwybCgxE
[core]
    attributesfile = ~/.config/git/attributes
[pull]
    rebase = false
{{ if eq (env "IS_MACOS") "true" -}}
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
	gpgsign = true
[tag]
	gpgsign = true
{{- end }}
[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
