ZIM_HOME=~/.zim

# Use vendored zimfw from setup directory
ZIMFW_PATH="{{ env "SETUP_DIR" }}/third_party/vendir/shell/zimfw/zimfw.zsh"

# Install missing modules, and update ${ZIM_HOME}/init.zsh if missing or outdated.
if [[ ! ${ZIM_HOME}/init.zsh -nt ${ZDOTDIR:-${HOME}}/.zimrc ]]; then
  source ${ZIMFW_PATH} init -q
fi

# Initialize modules.
source ${ZIM_HOME}/init.zsh