#!/bin/bash

{{ if env "CI" -}}
brew bundle --dry-run --file=/dev/stdin <<EOF
{{ else -}}
brew bundle --file=/dev/stdin <<EOF
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF