#!/bin/bash

# Use || true to handle cask checksum mismatches gracefully in CI
brew bundle --file=/dev/stdin <<EOF || true
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF