#!/bin/bash
set -euo pipefail

# Linux packages hash: {{ .packages.linux.apt_packages | toJson | sha256sum }}

echo "📦 Updating apt package list..."
sudo apt-get update

echo "📦 Installing Linux packages..."
sudo apt-get install -y {{ range .packages.linux.apt_packages }}{{ . | quote }} {{ end }}

# Install starship not available in apt
curl -sS https://starship.rs/install.sh | sh -s -- --force