name: bunq2ynab
version: '3.8'
services:
  bunq2ynab:
    container_name: bunq2ynab
    image: {{ bunq2ynab_image_tag }}
    restart: always
    environment:
      - OP_SERVICE_ACCOUNT_TOKEN={{ op_service_account_token }}
      - SETUP_ENV={{ setup_env }}
      # sleeping for 15 minutes to prevent rate limiting
      - TIMEOUT=900
    deploy:
      resources:
        limits:
          cpus: '0.5' 
          memory: '256M' 
    labels:
      containerName: "bunq2ynab"
      env: "{{ setup_env }}"