name: bunq2ynab
version: '3.8'
services:
  bunq2ynab:
    container_name: bunq2ynab
    image: {{ bunq2ynab_image_tag }}
    restart_policy:
      condition: on-failure
      delay: 5s
      max_attempts: 3
      window: 30s
    environment:
      - OP_SERVICE_ACCOUNT_TOKEN={{ op_service_account_token }}
      - SETUP_ENV={{ setup_env }}
      # sleeping for 60 minutes to prevent rate limiting in 1Password, Bunq and YNAB
      - TIMEOUT=3600
    deploy:
      resources:
        limits:
          cpus: '0.5' 
          memory: '256M' 
    labels:
      containerName: "bunq2ynab"
      env: "{{ setup_env }}"