export SETUP_DIR=$(pwd)
export STACKS_DIR=$SETUP_DIR/stacks
export TMP_DIR=$SETUP_DIR/tmp
export SERVICES_DIR=$SETUP_DIR/services
export _3RDPARTY_DIR=$SETUP_DIR/3rdparty

export PYTHONPATH=$SETUP_DIR

export GOSS_USE_ALPHA=1

export AIDER_SHOW_MODEL_WARNINGS=0
export AIDER_CHECK_UPDATE=0
export TALOSCONFIG=$SETUP_DIR/stacks/enigma/talosconfig

dotenv .env
PATH_add bin