export BASE_IMAGE=docker.pkg.github.com/mvgijssel/setup/base-image
export IMAGE_BUILDER_IMAGE=docker.pkg.github.com/mvgijssel/setup/image-builder
export RAZOR_SERVER_IMAGE=docker.pkg.github.com/mvgijssel/setup/razor-server
export GITHUB_REF="refs/heads/$(git rev-parse --abbrev-ref HEAD)"
export DOCKER_BUILDKIT=0
