# Only if the CI variable does not exist
# If NOT on the CI, executing on local machine
if [ -z "${CI+x}" ]; then
  export CI=false
fi

export CI_GITHUB=false

if [[ "${CI}" = true ]]; then
  export CI=true
  export GIT_REF="$GITHUB_REF"
  export GIT_BRANCH="${GITHUB_REF#refs/heads/}"
  export CI_GITHUB=true
  export GOPATH="$HOME/go"

  # Disable checking for hosts key on the CI
  export ANSIBLE_HOST_KEY_CHECKING=False
else
  export CI=false

  # Only set the GITHUB REF locally (not in the CI)
  export GIT_REF="refs/heads/$(git rev-parse --abbrev-ref HEAD)"

  export ANSIBLE_HOST_KEY_CHECKING=True
fi

export DOCKER_BUILDKIT=0

export SETUP_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
export DEVELOPMENT_DIR="$(dirname $SETUP_DIR)"
export SETUP_TMP_DIR="${SETUP_DIR}/tmp"
export SETUP_DOTFILES_DIR="${SETUP_DIR}/dotfiles"

export SETUP_ANSIBLE_DIR="$SETUP_DIR/ansible"
export ANSIBLE_FILTER_PLUGINS="$SETUP_ANSIBLE_DIR/filter_plugins"

# Ensure gnutar tar binary is in front of the path
export PATH=\
"/usr/local/opt/gnu-tar/libexec/gnubin:"\
"${PATH}"
