external/
.pnpm-store/
home-assistant/config/custom_components/hacs/
home-assistant/config/custom_components
pnpm-lock.yaml

# Use Obsidian Linter for formatting markdown files
*.md

# Helm templates with complex syntax cause prettier syntax errors
libs/internal-dns/templates/cleanup-configmap.yaml
libs/internal-dns/templates/cleanup-job.yaml