external/
.pnpm-store/
home-assistant/config/custom_components/hacs/
home-assistant/config/custom_components
pnpm-lock.yaml

# Use Obsidian Linter for formatting markdown files
*.md

# Helm chart templates contain Go template directives that prettier can't parse
**/templates/*.yaml
**/templates/*.yml