black==23.3.0;
pytest==7.3.1;
pytest-cov==3.0.0;
pytest-testinfra==8.1.0;
pytest-opentelemetry==0.6.2;
PyYAML==6.0;
pulumi==3.75.0;
pulumi-command==0.7.2;
pulumi-kubernetes==3.30.2;
pytest-homeassistant-custom-component==0.13.39;
tzdata==2023.3;
pyinfra==2.7
sqlalchemy==2.0.18;
semver==2.13.0;
bazel-runfiles==0.23.1;
requests==2.31.0;