interactions:
  - request:
      body:
        '{"prompt": "Test task with rich parameters", "workspace_name": "test-workspace",
        "rich_parameters": {"region": "us-east-1", "instance_type": "t3.medium"}}'
      headers:
        Coder-Session-Token:
          - REDACTED
        content-type:
          - application/json
      method: POST
      uri: https://macbook-pro-van-maarten.tail2c33e2.ts.net/api/experimental/tasks/me
    response:
      body:
        string:
          '{"message":"Resource not found or you do not have access to this resource"}

          '
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Coder-Build-Version:
          - v2.27.1+230b55b
        X-Coder-Request-Id:
          - 12e545e8-edac-4333-90e4-a90c39eb4550
        X-Ratelimit-Limit:
          - "512"
        X-Ratelimit-Remaining:
          - "503"
        X-Ratelimit-Reset:
          - "1761579480"
      status:
        code: 404
        message: Not Found
version: 1
