interactions:
  - request:
      body:
        '{"prompt": "Test task with template", "workspace_name": "test-workspace",
        "template_name": "custom-template"}'
      headers:
        Coder-Session-Token:
          - REDACTED
        content-type:
          - application/json
      method: POST
      uri: https://macbook-pro-van-maarten.tail2c33e2.ts.net/api/experimental/tasks/me
    response:
      body:
        string:
          '{"message":"Resource not found or you do not have access to this resource"}

          '
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Coder-Build-Version:
          - v2.27.1+230b55b
        X-Coder-Request-Id:
          - db6a07f9-0f51-485b-85d9-cd91345fcf37
        X-Ratelimit-Limit:
          - "512"
        X-Ratelimit-Remaining:
          - "504"
        X-Ratelimit-Reset:
          - "1761579480"
      status:
        code: 404
        message: Not Found
version: 1
