interactions:
- request:
    body: ''
    headers:
      Coder-Session-Token:
      - REDACTED
      content-type:
      - application/json
    method: GET
    uri: https://macbook-pro-van-maarten.tail2c33e2.ts.net/api/experimental/tasks
  response:
    body:
      string: '{"tasks":[{"id":"54ebda62-9d13-4b1c-9537-dd2d322da1a6","organization_id":"1dd993f1-dec7-401f-bbc3-0df50c2bee9b","owner_id":"6cbbea9f-08e0-46cd-bdba-410a5f3e5d5a","owner_name":"mvgijssel","name":"agent-of-agents","template_id":"cc29db59-0483-4520-869e-777e9a05bf65","template_name":"coder-devcontainer","template_display_name":"","template_icon":"","workspace_id":"54ebda62-9d13-4b1c-9537-dd2d322da1a6","workspace_agent_id":"a34a6bf6-80df-42cd-aafd-c66537b7f112","workspace_agent_lifecycle":"ready","workspace_agent_health":{"healthy":true},"initial_prompt":"agent-of-agents","status":"running","current_state":{"timestamp":"2025-10-27T14:02:03.087304+01:00","state":"working","message":"Merged
        project.json into package.json successfully. All 102 tests passing.","uri":"/workspaces/setup/libs/coder-mcp/package.json"},"created_at":"2025-10-27T10:27:44.422391+01:00","updated_at":"2025-10-27T10:27:44.422391+01:00"},{"id":"3d125601-b6e6-4443-9c6e-9429dbba067a","organization_id":"1dd993f1-dec7-401f-bbc3-0df50c2bee9b","owner_id":"6cbbea9f-08e0-46cd-bdba-410a5f3e5d5a","owner_name":"mvgijssel","name":"task-cool-shockley-34f0","template_id":"cc29db59-0483-4520-869e-777e9a05bf65","template_name":"coder-devcontainer","template_display_name":"","template_icon":"","workspace_id":"3d125601-b6e6-4443-9c6e-9429dbba067a","workspace_agent_id":"8e300148-5911-4222-a5ec-194dc44578ff","workspace_agent_lifecycle":"starting","workspace_agent_health":{"healthy":true},"initial_prompt":"Ultrathink
        find a typo in the repo and fix it\n","status":"running","current_state":null,"created_at":"2025-10-27T14:10:35.091915+01:00","updated_at":"2025-10-27T14:10:35.091915+01:00"}],"count":2}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Coder-Build-Version:
      - v2.27.1+230b55b
      X-Coder-Request-Id:
      - e5b7a5cf-c5dd-44af-8adf-85a1d5aa8a87
      X-Ratelimit-Limit:
      - '512'
      X-Ratelimit-Remaining:
      - '497'
      X-Ratelimit-Reset:
      - '1761570720'
    status:
      code: 200
      message: OK
[...]
