interactions:
  - request:
      body: ""
      headers:
        Coder-Session-Token:
          - REDACTED
        content-type:
          - application/json
      method: GET
      uri: https://macbook-pro-van-maarten.tail2c33e2.ts.net/api/experimental/tasks
    response:
      body:
        string:
          '{"tasks":[{"id":"54ebda62-9d13-4b1c-9537-dd2d322da1a6","organization_id":"1dd993f1-dec7-401f-bbc3-0df50c2bee9b","owner_id":"6cbbea9f-08e0-46cd-bdba-410a5f3e5d5a","owner_name":"mvgijssel","name":"agent-of-agents","template_id":"cc29db59-0483-4520-869e-777e9a05bf65","template_name":"coder-devcontainer","template_display_name":"","template_icon":"","workspace_id":"54ebda62-9d13-4b1c-9537-dd2d322da1a6","workspace_agent_id":"a34a6bf6-80df-42cd-aafd-c66537b7f112","workspace_agent_lifecycle":"ready","workspace_agent_health":{"healthy":true},"initial_prompt":"agent-of-agents","status":"running","current_state":{"timestamp":"2025-10-27T16:14:21.843722+01:00","state":"idle","message":"Fix
          pushed - monitoring CI for test results","uri":"https://github.com/vgijssel/setup/pull/783"},"created_at":"2025-10-27T10:27:44.422391+01:00","updated_at":"2025-10-27T10:27:44.422391+01:00"},{"id":"7e348e5c-9322-4335-9a13-efc3a6aad054","organization_id":"1dd993f1-dec7-401f-bbc3-0df50c2bee9b","owner_id":"6cbbea9f-08e0-46cd-bdba-410a5f3e5d5a","owner_name":"mvgijssel","name":"task-pensive-goodall-8734","template_id":"cc29db59-0483-4520-869e-777e9a05bf65","template_name":"coder-devcontainer","template_display_name":"","template_icon":"","workspace_id":"7e348e5c-9322-4335-9a13-efc3a6aad054","workspace_agent_id":"530528e7-b1d5-4378-ba57-c8f65e1c05d0","workspace_agent_lifecycle":"starting","workspace_agent_health":{"healthy":true},"initial_prompt":"Find
          typos","status":"running","current_state":null,"created_at":"2025-10-27T16:36:56.138529+01:00","updated_at":"2025-10-27T16:36:56.138529+01:00"}],"count":2}

          '
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Coder-Build-Version:
          - v2.27.1+230b55b
        X-Coder-Request-Id:
          - 9b79d6fb-f9cd-43d9-96f8-d2f7403f876f
        X-Ratelimit-Limit:
          - "512"
        X-Ratelimit-Remaining:
          - "486"
        X-Ratelimit-Reset:
          - "1761579480"
      status:
        code: 200
        message: OK
version: 1
