{
  "branches": [
    "master"
  ],
  "extends": "semantic-release-monorepo",
  "tagFormat": "rules_task-v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./prepare-release.sh ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "*.tar.gz",
            "label": "rules_task"
          }
        ]
      }
    ]
  ]
}
