name: onepassword_connect
version: "3.4"

services:
  op-connect-api:
    restart: always
    image: 1password/connect-api:latest
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - "{{ onepassword_connect_credentials_path }}:/home/opuser/.op/1password-credentials.json"
      - "data:/home/opuser/.op/data"
  op-connect-sync:
    restart: always
    image: 1password/connect-sync:latest
    volumes:
      - "{{ onepassword_connect_credentials_path }}:/home/opuser/.op/1password-credentials.json"
      - "data:/home/opuser/.op/data"

volumes:
  data: