<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackerone.shortcuts</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>027F67C6-A3AA-409D-8F3D-CC003799A78E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D703C1D0-F581-4D0E-B6F5-76153E1AAAE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>07F2E41C-CFDD-4696-8C27-56F8E2140394</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2367B8AF-0D4D-4E2E-98B8-D6EC3338AF2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21139273-D2D9-4D53-8BA8-819CAAD09604</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B359B66-7C23-4422-B5F9-4DBC4B69F25D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27AF521F-7356-42B9-B271-EF894A1CC4B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC3B38F7-36CC-414F-B18F-9A83924D0E31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27C49AA5-F5BC-475B-8BC8-58CDA7D4E5AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAD8544A-06DD-4B7F-AC6E-B6CDE558A5EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C6BCE49-68A1-4138-9F29-16D696EF33EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24A69E22-84EA-465D-923D-6651EE5937C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E0403D7-EFAD-4F7E-9722-61215C585A56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFB6DED0-152D-4357-BC4D-20DA49CDB00D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E045AD1-2C5B-49D1-B4CB-2BE65E1451EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0450FD5C-ABA6-426A-992B-071979A21DE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C0B198DB-683E-4EC8-BDC0-764D4AB958F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F391B67-01D4-4399-8434-6924EC3B80F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CB578C7-AEEE-43DC-A5D8-B6EE504706F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>848BFFB6-C93A-49BA-A02C-834E1558E2A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DAAD3D2A-785E-4501-8F79-3435D31DD895</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8921EE9B-6050-4270-97CF-1FFD9A632F46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95B882B4-AA48-481A-AAE4-4179C98336B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99F4A24F-15E1-425E-ABBE-1CF3C6446054</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FE5E57F-535D-4B2A-8FAB-CE981551BE8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0279E39-E4AD-4B58-8F27-1E29E49153D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48F535D8-86B8-48B1-BF14-D85E843BC331</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5871C9D-D563-4A51-887E-6C9EE63DCF5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38468737-82EB-4AB2-A5CC-D5AB2F09168C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE4EA566-D933-4199-B940-ACC3D6EDB30A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8562000-3AA9-4162-AA7A-E04F1DC76DE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE716405-4ADF-4AF1-9BE2-98D69A336323</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7F7457A-B40D-4C0E-8B8B-8F790E1B8505</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4AAB128-E860-4F0E-8FC9-8A18A5CE41D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF418884-EC25-49AC-AE3A-EC65E5AD2E19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC244F65-219D-4CC5-966F-0186BC14C29A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E172FF23-8769-432C-93D7-EF7899C58D9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF78D9D0-F118-4C1A-A462-67542F3C9536</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD81B16C-D4C5-4782-B3C0-CEAF6DF693B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2F19A9A-88F2-4C6F-8705-4930C77CBC43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA96644B-8672-4CB6-A601-A5AF68523B47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6503474-EB02-41AB-BFCF-6FBB5F27E17B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78D3B26E-A1BF-412B-B830-E16386D702B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE55322A-210E-47D2-9851-7B022D7F1669</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE653336-0047-4179-BAE5-3241FEB6F3B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E710BBC4-2253-41F4-9B08-3F9A092153C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E00DB7A5-5967-44C9-89DC-8E6AEF177570</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7E6DA34-9B22-4D84-A969-B3CC869060B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38468737-82EB-4AB2-A5CC-D5AB2F09168C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDE3585B-2062-4FD9-8E31-F10F826A721D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7100893F-78D3-410B-AD16-3A348E8B35BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Philip Kocanda</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>HackerOne Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>gls</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search GitLab...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BF78D9D0-F118-4C1A-A462-67542F3C9536</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>glu</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open GitLab User</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B4AAB128-E860-4F0E-8FC9-8A18A5CE41D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.choosy</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.inverselink.com/users/{query}/activity</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DF418884-EC25-49AC-AE3A-EC65E5AD2E19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.inverselink.com/search?group_id=&amp;project_id=&amp;repository_ref=&amp;scope=issues&amp;search={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AD81B16C-D4C5-4782-B3C0-CEAF6DF693B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.inverselink.com/hackerone/issues/-/boards/53?&amp;label_name[]=OSHA</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C7F7457A-B40D-4C0E-8B8B-8F790E1B8505</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>glo</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open OSHA workboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AE716405-4ADF-4AF1-9BE2-98D69A336323</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.inverselink.com/search?search={query}&amp;group_id=&amp;project_id=2&amp;search_code=true&amp;repository_ref=&amp;nav_source=navbar</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0450FD5C-ABA6-426A-992B-071979A21DE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.choosy</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.inverselink.com/hackerone/engineering_and_product/core/merge_requests/{query}/diffs?view=parallel&amp;w=1</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2367B8AF-0D4D-4E2E-98B8-D6EC3338AF2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rev</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Review GitLab MR</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>07F2E41C-CFDD-4696-8C27-56F8E2140394</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>glc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open GitLab Commit</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4E045AD1-2C5B-49D1-B4CB-2BE65E1451EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.inverselink.com/search?search={query}&amp;group_id=&amp;project_id=24&amp;search_code=true&amp;repository_ref=&amp;nav_source=navbar</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C0B198DB-683E-4EC8-BDC0-764D4AB958F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.inverselink.com/hackerone/issues/issues/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EAD8544A-06DD-4B7F-AC6E-B6CDE558A5EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gli</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open GitLab Issue</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>27C49AA5-F5BC-475B-8BC8-58CDA7D4E5AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.choosy</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.inverselink.com/hackerone/issues/issues/new</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>95B882B4-AA48-481A-AAE4-4179C98336B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.inverselink.com/dashboard/merge_requests?scope=all&amp;utf8=%E2%9C%93&amp;state=opened&amp;author_username=maarten</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E172FF23-8769-432C-93D7-EF7899C58D9F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>glm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>GitLab Maarten's Merge Requests</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC244F65-219D-4CC5-966F-0186BC14C29A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gln</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>New GitLab Issue</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8921EE9B-6050-4270-97CF-1FFD9A632F46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Google Cloud</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A5871C9D-D563-4A51-887E-6C9EE63DCF5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://cloudsearch.google.com/cloudsearch/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>38468737-82EB-4AB2-A5CC-D5AB2F09168C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>conf</string>
				<key>subtext</key>
				<string>Open Confluence</string>
				<key>text</key>
				<string>Open Confluence</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6F391B67-01D4-4399-8434-6924EC3B80F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.choosy</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://hackerone.atlassian.net</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2CB578C7-AEEE-43DC-A5D8-B6EE504706F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gdrive</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Google Cloud</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F7E6DA34-9B22-4D84-A969-B3CC869060B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>conf</string>
				<key>subtext</key>
				<string>Search Confluence</string>
				<key>text</key>
				<string>Search Confluence</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>27AF521F-7356-42B9-B271-EF894A1CC4B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.choosy</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://hackerone.atlassian.net/wiki/dosearchsite.action?queryString={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FC3B38F7-36CC-414F-B18F-9A83924D0E31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://support-app.inverselink.com/support</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7100893F-78D3-410B-AD16-3A348E8B35BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>support</string>
				<key>subtext</key>
				<string>Open Support App</string>
				<key>text</key>
				<string>Open Support App</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FDE3585B-2062-4FD9-8E31-F10F826A721D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sentry</string>
				<key>subtext</key>
				<string>Open Sentry</string>
				<key>text</key>
				<string>Open Sentry</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DE55322A-210E-47D2-9851-7B022D7F1669</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://sentry.inverselink.com/hackerone/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DE653336-0047-4179-BAE5-3241FEB6F3B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>looker</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Looker</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C2F19A9A-88F2-4C6F-8705-4930C77CBC43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://looker.inverselink.com/sql</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AA96644B-8672-4CB6-A601-A5AF68523B47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>duty</string>
				<key>subtext</key>
				<string>Open Duty Sheet</string>
				<key>text</key>
				<string>Open Duty Sheet</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C6BCE49-68A1-4138-9F29-16D696EF33EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.choosy</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.google.com/spreadsheets/d/13x0N3wB-dIysRT81dpyNIyxqXsg4sPt8Y7GyubHXHWA/edit</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>24A69E22-84EA-465D-923D-6651EE5937C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.Choosy</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://hackerone.okta.com/home/datadog/0oaigx9cy99kBavHV2p6/28057</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E00DB7A5-5967-44C9-89DC-8E6AEF177570</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.choosy</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://go.inverselink.com/{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6B359B66-7C23-4422-B5F9-4DBC4B69F25D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>go</string>
				<key>subtext</key>
				<string>Linkhack</string>
				<key>text</key>
				<string>Go</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>21139273-D2D9-4D53-8BA8-819CAAD09604</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>datadog</string>
				<key>subtext</key>
				<string>Open Datadog</string>
				<key>text</key>
				<string>Open Datadog</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E710BBC4-2253-41F4-9B08-3F9A092153C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>15five</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open 15Five</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>99F4A24F-15E1-425E-ABBE-1CF3C6446054</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://hackerone.15five.com/report/current/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8FE5E57F-535D-4B2A-8FAB-CE981551BE8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mailcatcher</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Mailcatcher</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D6503474-EB02-41AB-BFCF-6FBB5F27E17B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.Choosy</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://localhost:3200</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>78D3B26E-A1BF-412B-B830-E16386D702B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.Choosy</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://localhost:6001/admin</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DAAD3D2A-785E-4501-8F79-3435D31DD895</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>payments</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Payments</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>848BFFB6-C93A-49BA-A02C-834E1558E2A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.choosy</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.google.com/spreadsheets/d/1oLt7lUuCOB2FIAFXVp6C5blYi2wbV7DhHXJtIzTWTV4/edit?usp=sharing</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>48F535D8-86B8-48B1-BF14-D85E843BC331</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>iguanaduty</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Iguana Duty</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A0279E39-E4AD-4B58-8F27-1E29E49153D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>stack</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Stack Overflow (HackerOne)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>027F67C6-A3AA-409D-8F3D-CC003799A78E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.Choosy</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.inverselink.com/hackerone/stack-overflow</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D703C1D0-F581-4D0E-B6F5-76153E1AAAE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sumo</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Sumo Logic</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4E0403D7-EFAD-4F7E-9722-61215C585A56</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.Choosy</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://hackerone.okta.com/home/sumologic/0oaih4tw8NUvAXRVo2p6/4261</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EFB6DED0-152D-4357-BC4D-20DA49CDB00D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.choosyosx.Choosy</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://hackerone.okta.com/home/hackeroneinc_retrium_1/0oa1x90ujxEM4rMLv2p7/aln1x94fzxhQDeF8U2p7</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B8562000-3AA9-4162-AA7A-E04F1DC76DE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>retrium</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Retrium</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AE4EA566-D933-4199-B940-ACC3D6EDB30A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>027F67C6-A3AA-409D-8F3D-CC003799A78E</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1540</integer>
		</dict>
		<key>0450FD5C-ABA6-426A-992B-071979A21DE1</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>07F2E41C-CFDD-4696-8C27-56F8E2140394</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>21139273-D2D9-4D53-8BA8-819CAAD09604</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>1150</integer>
		</dict>
		<key>2367B8AF-0D4D-4E2E-98B8-D6EC3338AF2E</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>24A69E22-84EA-465D-923D-6651EE5937C9</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>27AF521F-7356-42B9-B271-EF894A1CC4B6</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>27C49AA5-F5BC-475B-8BC8-58CDA7D4E5AC</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>2C6BCE49-68A1-4138-9F29-16D696EF33EE</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>2CB578C7-AEEE-43DC-A5D8-B6EE504706F5</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>38468737-82EB-4AB2-A5CC-D5AB2F09168C</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>48F535D8-86B8-48B1-BF14-D85E843BC331</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>1420</integer>
		</dict>
		<key>4E0403D7-EFAD-4F7E-9722-61215C585A56</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>1550</integer>
		</dict>
		<key>4E045AD1-2C5B-49D1-B4CB-2BE65E1451EF</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>6B359B66-7C23-4422-B5F9-4DBC4B69F25D</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>1150</integer>
		</dict>
		<key>6F391B67-01D4-4399-8434-6924EC3B80F5</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>7100893F-78D3-410B-AD16-3A348E8B35BC</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>78D3B26E-A1BF-412B-B830-E16386D702B1</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>1290</integer>
		</dict>
		<key>848BFFB6-C93A-49BA-A02C-834E1558E2A5</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1410</integer>
		</dict>
		<key>8921EE9B-6050-4270-97CF-1FFD9A632F46</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>8FE5E57F-535D-4B2A-8FAB-CE981551BE8D</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1280</integer>
		</dict>
		<key>95B882B4-AA48-481A-AAE4-4179C98336B0</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>99F4A24F-15E1-425E-ABBE-1CF3C6446054</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1280</integer>
		</dict>
		<key>A0279E39-E4AD-4B58-8F27-1E29E49153D8</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>1420</integer>
		</dict>
		<key>A5871C9D-D563-4A51-887E-6C9EE63DCF5A</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>AA96644B-8672-4CB6-A601-A5AF68523B47</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>AD81B16C-D4C5-4782-B3C0-CEAF6DF693B5</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>AE4EA566-D933-4199-B940-ACC3D6EDB30A</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1690</integer>
		</dict>
		<key>AE716405-4ADF-4AF1-9BE2-98D69A336323</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>B4AAB128-E860-4F0E-8FC9-8A18A5CE41D7</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>B8562000-3AA9-4162-AA7A-E04F1DC76DE1</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1690</integer>
		</dict>
		<key>BC244F65-219D-4CC5-966F-0186BC14C29A</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>BF78D9D0-F118-4C1A-A462-67542F3C9536</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>C0B198DB-683E-4EC8-BDC0-764D4AB958F3</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>C2F19A9A-88F2-4C6F-8705-4930C77CBC43</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>C7F7457A-B40D-4C0E-8B8B-8F790E1B8505</key>
		<dict>
			<key>xpos</key>
			<integer>1015</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>D6503474-EB02-41AB-BFCF-6FBB5F27E17B</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>1290</integer>
		</dict>
		<key>D703C1D0-F581-4D0E-B6F5-76153E1AAAE5</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1540</integer>
		</dict>
		<key>DAAD3D2A-785E-4501-8F79-3435D31DD895</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1410</integer>
		</dict>
		<key>DE55322A-210E-47D2-9851-7B022D7F1669</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>DE653336-0047-4179-BAE5-3241FEB6F3B6</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>DF418884-EC25-49AC-AE3A-EC65E5AD2E19</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>E00DB7A5-5967-44C9-89DC-8E6AEF177570</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1150</integer>
		</dict>
		<key>E172FF23-8769-432C-93D7-EF7899C58D9F</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>E710BBC4-2253-41F4-9B08-3F9A092153C9</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1150</integer>
		</dict>
		<key>EAD8544A-06DD-4B7F-AC6E-B6CDE558A5EE</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>EFB6DED0-152D-4357-BC4D-20DA49CDB00D</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>1550</integer>
		</dict>
		<key>F7E6DA34-9B22-4D84-A969-B3CC869060B9</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>FC3B38F7-36CC-414F-B18F-9A83924D0E31</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>FDE3585B-2062-4FD9-8E31-F10F826A721D</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.hackerone.com</string>
</dict>
</plist>
