build:debug --sandbox_debug=true --show_progress --worker_verbose --verbose_failures --test_output=streamed  --subcommands
build:debug --//:setup_debug_flag

# From https://github.com/bazelbuild/bazel/issues/4867#issuecomment-830402410
build:quiet --ui_event_filters=-info --noshow_progress
query:quiet --ui_event_filters=-info --noshow_progress

# Move the bazel symlinks outside of the project root to avoid the symlinks appearing in the volume mount
build --symlink_prefix=/tmp/bazel-rules_task-

# Print warning messages about test suite being configured as too small/big
test --test_verbose_timeout_warnings

# Output test logs to the console when there are errors
test --test_output=errors

common --enable_bzlmod=true

# Enable builds without the bytes https://github.com/bazelbuild/bazel/issues/6862
build --remote_download_minimal


try-import %workspace%/local.bazelrc