apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace-flux-system.yaml
  - namespace-1password.yaml
  - namespace-coder.yaml
  - namespace-coder-workspace.yaml
  - gitrepository-setup.yaml
  - kustomization-root.yaml
  - helmrelease-1password-operator.yaml
  - helmrelease-1password-secrets.yaml
  - helmrelease-registry.yaml
  - helmrelease-coder.yaml
  - configmap-workspace-config.yaml
