<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>122955AA-6F3E-4C84-AFD1-7303D8B7DE9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D81C9268-5679-48F3-BA09-5BA1DB58E04C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E32AF75-D424-423D-8EDC-DCC032554C73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6A5E051-4368-4D2A-828A-824162BA9EA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>299EB36A-A19A-4B2A-8E68-1BD08394C872</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70D13C2F-F97E-482C-B61F-54C136B0FC16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69A445B4-D9AE-47A1-8776-E8A03DE9B9EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39BDB198-1D79-4EB5-832A-E37DDF6C6571</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70D13C2F-F97E-482C-B61F-54C136B0FC16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C64EC32-E3E0-4CAA-80FE-B31AFDD22919</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9D122FC3-246E-41AC-9D63-06CFE02A96CE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FE972213-1D2C-4C51-B065-D0A0E267A49C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDEA1757-8686-49C5-8347-CD84BA7D93CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>228029D1-F4B2-4CEB-A63E-91CEF0010AE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9C83478-0A41-4167-84AD-D9011FD90589</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12E5E861-DD27-442C-982B-2FD2D38A4579</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8373102-B280-449F-9E0B-6BF2E0666428</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>299EB36A-A19A-4B2A-8E68-1BD08394C872</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Personal Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hps</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Hacker Program Engagement Sprint</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9C83478-0A41-4167-84AD-D9011FD90589</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.inverselink.com/hackerone/issues/-/boards/160?milestone_title=Kerk%20-%20Sprint%202%20(%23TestSprintAnother)&amp;&amp;label_name[]=HxPE%20Squad</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>12E5E861-DD27-442C-982B-2FD2D38A4579</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.inverselink.com/hackerone/issues/-/boards/159?&amp;label_name[]=HxPE%20Squad</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>228029D1-F4B2-4CEB-A63E-91CEF0010AE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hpw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Hacker Program Engagement Workboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BDEA1757-8686-49C5-8347-CD84BA7D93CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -n -a  "Google Chrome" --args --"profile-directory"="Profile 1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>39BDB198-1D79-4EB5-832A-E37DDF6C6571</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>chrome_personal</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Google Chrome - New Window (Personal)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>69A445B4-D9AE-47A1-8776-E8A03DE9B9EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -n -a  "Google Chrome" --args --"profile-directory"="Default"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E6A5E051-4368-4D2A-828A-824162BA9EA6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>chrome_hackerone</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Google Chrome - New Window (HackerOne)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1E32AF75-D424-423D-8EDC-DCC032554C73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>iterm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>iTerm - New Window</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>122955AA-6F3E-4C84-AFD1-7303D8B7DE9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -n -a  "iTerm"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D81C9268-5679-48F3-BA09-5BA1DB58E04C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/emacsclient -c -s $HOME/.emacs.d/server/server --no-wait</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3C64EC32-E3E0-4CAA-80FE-B31AFDD22919</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>emacs</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Emacs - New Window</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F8373102-B280-449F-9E0B-6BF2E0666428</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/emacsclient -s $HOME/.emacs.d/server/server -a false -e 't' &gt; /dev/null 2&gt;&amp;1

printf $?</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>299EB36A-A19A-4B2A-8E68-1BD08394C872</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>new window</string>
						<key>uid</key>
						<string>9D122FC3-246E-41AC-9D63-06CFE02A96CE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open emacs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>70D13C2F-F97E-482C-B61F-54C136B0FC16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a emacs</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FE972213-1D2C-4C51-B065-D0A0E267A49C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>122955AA-6F3E-4C84-AFD1-7303D8B7DE9E</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>835</integer>
		</dict>
		<key>12E5E861-DD27-442C-982B-2FD2D38A4579</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>1E32AF75-D424-423D-8EDC-DCC032554C73</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>228029D1-F4B2-4CEB-A63E-91CEF0010AE2</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>299EB36A-A19A-4B2A-8E68-1BD08394C872</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>39BDB198-1D79-4EB5-832A-E37DDF6C6571</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>3C64EC32-E3E0-4CAA-80FE-B31AFDD22919</key>
		<dict>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>955</integer>
		</dict>
		<key>69A445B4-D9AE-47A1-8776-E8A03DE9B9EE</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>70D13C2F-F97E-482C-B61F-54C136B0FC16</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>1060</integer>
		</dict>
		<key>BDEA1757-8686-49C5-8347-CD84BA7D93CD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>D81C9268-5679-48F3-BA09-5BA1DB58E04C</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>835</integer>
		</dict>
		<key>E6A5E051-4368-4D2A-828A-824162BA9EA6</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>E9C83478-0A41-4167-84AD-D9011FD90589</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>F8373102-B280-449F-9E0B-6BF2E0666428</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>FE972213-1D2C-4C51-B065-D0A0E267A49C</key>
		<dict>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>1145</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
