$schema: ../cache/schemas/tasks.json

fileGroups:
  kubernetes_manifests:
    - "*.yaml"
    - "*.yml"
    - "!moon.yml"
    - "!ansible_requirements.yml"
    - "!provision.yml"
    - "!kitchen.yml"
    - "!*_lima.yml"
    - "!Chart.yaml"
    - "!values.yaml"
    - "!devspace.yaml"
    - "!Taskfile.yml"
    - "!goss.yaml"
    - "!*.patch.yaml"
    - "!kustomization.yaml"
    - "!kustomization.yml"

tasks:
  kubeconform_lint:
    command: kubeconform -summary -output json -schema-location default -schema-location '$MOON_WORKSPACE_ROOT/third_party/vendir/schemas/flux/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json'
    args:
      - "@files(kubernetes_manifests)"
    inputs:
      - "@files(kubernetes_manifests)"
      - "@files(kubeconform_bin)"
      - /third_party/vendir/schemas/flux/**/*.json
    options:
      cache: true
      runInCI: true
