$schema: ../cache/schemas/tasks.json

fileGroups:
  kubernetes_manifests:
    - "*.yaml"
    - "*.yml"
    - "!moon.yml"
    - "!ansible_requirements.yml"
    - "!provision.yml"
    - "!kitchen.yml"
    - "!*_lima.yml"
    - "!Chart.yaml"
    - "!values.yaml"
    - "!devspace.yaml"
    - "!Taskfile.yml"
    - "!goss.yaml"
    - "!*.patch.yaml"

tasks:
  kubeconform_lint:
    command: kubeconform -summary -output json
    args:
      - "@files(kubernetes_manifests)"
    inputs:
      - "@files(kubernetes_manifests)"
      - "@files(kubeconform_bin)"
    options:
      cache: true
      runInCI: true
