# Netplan Configuration for Pi-hole Multi-VLAN Setup
# This example shows the network configuration required for:
# - Admin LAN (192.168.1.0/24) via bridge br0
# - VLAN 50 (192.168.50.0/24) via eth0.50 subinterface
#
# Both interfaces serve as parent interfaces for Docker macvlan networks.
#
# Prerequisites:
# - 8021q kernel module loaded for VLAN support
# - Physical interface connected to trunk port allowing VLAN 50

network:
  version: 2
  renderer: networkd

  ethernets:
    eth0:
      dhcp4: no
      dhcp6: no

  vlans:
    eth0.50:
      id: 50
      link: eth0
      dhcp4: no
      dhcp6: no
      # Note: No IP address assigned - Docker macvlan handles addressing

  bridges:
    br0:
      interfaces:
        - eth0
      addresses:
        - 192.168.1.15/24
      routes:
        - to: 0.0.0.0/0
          via: 192.168.1.1
      nameservers:
        addresses:
          - 192.168.1.1
