name: monitoring
version: '3.8'
services:
  # https://promhippie.github.io/github_exporter/#getting-started
  github_exporter:
    container_name: github_exporter
    image: promhippie/github-exporter:latest@sha256:8767a6522afa9222dd630131211d50b498bc3e4932675c7cf28e49cabb8d2443
    restart: always
    environment:
      - GITHUB_EXPORTER_TOKEN={{ github_exporter_token }}
      - GITHUB_EXPORTER_LOG_PRETTY=true
      - GITHUB_EXPORTER_ORG=mvgijssel
      - GITHUB_EXPORTER_REPO=mvgijssel/setup
      - GITHUB_EXPORTER_COLLECTOR_WORKFLOWS=true
      - GITHUB_EXPORTER_COLLECTOR_RUNNERS=false
      - GITHUB_EXPORTER_COLLECTOR_BILLING=false
      - GITHUB_EXPORTER_COLLECTOR_ADMIN=false

  nri-prometheus:
    container_name: nri-prometheus
    image: newrelic/nri-prometheus:2.18.1@sha256:cd1b512186551293177fa7c48d85d876f2125c5da5978e03c7a4833b8082bc79
    restart: always
    environment:
      - LICENSE_KEY={{ new_relic_license_key }}
    volumes:
      - "/opt/monitoring/nri-prometheus-config.yaml:/config.yaml"
