name: monitoring
version: '3.8'
services:
  # https://promhippie.github.io/github_exporter/#getting-started

  github_exporter:
    container_name: github_exporter
    image: promhippie/github-exporter:latest@sha256:d2c4dc75d44666ebf1e3433f497fe18e2be6f4bfeeca770790944d745dc1c8ed
    restart: always
    environment:
      - GITHUB_EXPORTER_TOKEN={{ github_exporter_token }}
      - GITHUB_EXPORTER_LOG_PRETTY=true
      - GITHUB_EXPORTER_REPO=mvgijssel/setup
      - GITHUB_EXPORTER_COLLECTOR_WORKFLOWS=true
      - GITHUB_EXPORTER_COLLECTOR_RUNNERS=false
      - GITHUB_EXPORTER_COLLECTOR_BILLING=false
      - GITHUB_EXPORTER_COLLECTOR_ADMIN=false
      - SETUP_ENV={{ setup_env }}
    deploy:
      resources:
        limits:
          cpus: '0.5' # Maximum of 0.5 CPU cores
          memory: '100M' # Maximum of 512 megabytes of memory

  nri-prometheus:
    container_name: nri-prometheus
    image: newrelic/nri-prometheus:2.18.1@sha256:cd1b512186551293177fa7c48d85d876f2125c5da5978e03c7a4833b8082bc79
    restart: always
    environment:
      - LICENSE_KEY={{ new_relic_license_key }}
      - SETUP_ENV={{ setup_env }}
    volumes:
      - "/opt/monitoring/nri-prometheus-config.yaml:/config.yaml"
    deploy:
      resources:
        limits:
          cpus: '0.5' # Maximum of 0.5 CPU cores
          memory: '100M' # Maximum of 512 megabytes of memory

  otel-collector:
    container_name: otel-collector
    image: otel/opentelemetry-collector-contrib:0.79.0@sha256:a1930dca21b6baa78b1f361f5ced863bb86e30299cc9c3e6be78487af7b720a5
    restart: always
    command: [ --config=/etc/otel-collector-config.yaml ]
    volumes:
      - "/opt/monitoring/otel-collector-config.yaml:/etc/otel-collector-config.yaml"
    ports:
      - "127.0.0.1:13133:13133" # health_check extension
      - "127.0.0.1:4317:4317" # OTLP gRPC receiver
    environment:
      - LICENSE_KEY={{ new_relic_license_key }}
      - SETUP_ENV={{ setup_env }}
    deploy:
      resources:
        limits:
          cpus: '0.5' # Maximum of 0.5 CPU cores
          memory: '100M' # Maximum of 512 megabytes of memory

{% if is_arm %}
  arm_exporter:
    container_name: arm_exporter
    image: carlosedp/arm_exporter:latest@sha256:c2510142e3824686cba8af75826737a8158b25648e29867e262d26f553de5211
    restart: always
    environment:
      - SETUP_ENV={{ setup_env }}
    deploy:
      resources:
        limits:
          cpus: '0.5' # Maximum of 0.5 CPU cores
          memory: '100M' # Maximum of 512 megabytes of memory
{% endif %}