Arpeggio==1.10.2
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
dill==0.3.4
grpcio==1.43.0
idna==3.3
onepasswordconnectsdk==1.2.0
parver==0.3.1
protobuf==3.20.0
pulumi==3.29.1
pulumi-kubernetes==3.18.2
python-dateutil==2.8.2
PyYAML==6.0
requests==2.27.1
semver==2.13.0
six==1.16.0
urllib3==1.26.9
