platform: gpio
on_press:
  then:
    - if:
        condition:
          binary_sensor.is_off: verjaardag_hilde_lights_override
        then:
          - if:
              condition:
                and:
                  - wifi.connected:
                  - api.connected:
                  - switch.is_on: shelly_relay
              # toggle smart light if wifi and api are connected and relay is on
              then:
                - if:
                    condition:
                      binary_sensor.is_off: light_sensor
                    then:
                      - homeassistant.service:
                          service: homeassistant.turn_on
                          data:
                            entity_id: ${light_entity_id}
                    else:
                      - homeassistant.service:
                          service: homeassistant.turn_off
                          data:
                            entity_id: ${light_entity_id}
              # else, toggle relay
              else:
                - switch.toggle: shelly_relay
filters:
  - delayed_on_off: 50ms
