---
- name: 'Provision Provisioner'
  hosts: all
  gather_facts: true
  become: true

  tasks:
    # https://docs.docker.com/engine/install/ubuntu/
    - name: Install docker dependencies
      tags: ['docker']
      package:
        name: "{{ item }}"
        state: present
      loop:
        - apt-transport-https
        - ca-certificates
        - curl
        - gnupg-agent
        - software-properties-common

    - name: Add Docker GPG apt Key
      tags: ['docker']
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker Repository
      tags: ['docker']
      apt_repository:
        repo: "deb [arch={{ architecture }}] https://download.docker.com/linux/ubuntu focal stable"
        state: present

    - name: Update apt
      tags: ['docker']
      apt:
        update_cache: true

    - name: Install docker-ce
      tags: ['docker']
      apt:
        state: latest
        name: "{{ item }}"
      loop:
        - docker-ce
        - docker-ce-cli
        - containerd.io

    - name: Reset cloud-init
      tags: ['cloud-init']
      command: cloud-init clean

    - name: Cleanup files
      tags: ['cloud-init']
      file:
        path: "{{ item }}"
        state: absent
      loop:
      - /home/ubuntu/.ssh/authorized_keys
      - /etc/netplan/50-cloud-init.yaml
      - /var/log/cloud-init.log
      - /var/log/cloud-init-output.log

    - name: Create necessary seed directory
      file:
        path: /var/lib/cloud/seed/nocloud-net
        state: directory

    - name: Copy cloud-init user-data
      tags: ['cloud-init']
      copy:
        src: "{{ item }}"
        dest: /var/lib/cloud/seed/nocloud-net
        owner: root
        group: root
        mode: '0644'
      loop:
        - ./cloud-init/prod/user-data
        - ./cloud-init/prod/meta-data
        - ./cloud-init/prod/vendor-data
