apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: virtual-ingress
  namespace: flux-system
spec:
  interval: 30m
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: libs/charts/virtual-ingress
      sourceRef:
        kind: GitRepository
        name: setup
        namespace: flux-system
      interval: 12h
  targetNamespace: kyverno
  install:
    createNamespace: false
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values: {}
