name: Release
on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0
          token: ${{ secrets.RELEASES_TOKEN_GITHUB }}

      - uses: ./.github/actions/setup

      - name: Configure Git Credentials
        run: |
          git config user.name vgijssel-bot
          git config user.email 147037532+vgijssel-bot@users.noreply.github.com
          git remote set-url origin https://vgijssel-bot:${{ secrets.RELEASES_TOKEN_GITHUB }}@github.com/${{ github.repository }}.git

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: vgijssel-bot
          password: ${{ secrets.PACKAGES_TOKEN_GITHUB }}

      - name: Run nx release
        run: nx release --yes
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASES_TOKEN_GITHUB }}
          NX_KEY: ${{ secrets.NX_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
