name: Release
on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      # Needed for mint API token for pypi
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0
          token: ${{ secrets.RELEASES_TOKEN_GITHUB }}

      - uses: ./.github/actions/setup

      - name: Configure Git Credentials
        run: |
          git config user.name vgijssel-bot
          git config user.email 147037532+vgijssel-bot@users.noreply.github.com
          git remote set-url origin https://vgijssel-bot:${{ secrets.RELEASES_TOKEN_GITHUB }}@github.com/${{ github.repository }}.git

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: vgijssel-bot
          password: ${{ secrets.PACKAGES_TOKEN_GITHUB }}

      # From https://docs.pypi.org/trusted-publishers/using-a-publisher/
      - name: mint API token
        id: mint-token
        run: |
          echo $ACTIONS_ID_TOKEN_REQUEST_TOKEN
          echo $ACTIONS_ID_TOKEN_REQUEST_URL

          # retrieve the ambient OIDC token
          resp=$(curl -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
            "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=pypi")
          oidc_token=$(jq -r '.value' <<< "${resp}")

          # exchange the OIDC token for an API token
          resp=$(curl -X POST https://pypi.org/_/oidc/mint-token -d "{\"token\": \"${oidc_token}\"}")
          api_token=$(jq -r '.token' <<< "${resp}")

          # mask the newly minted API token, so that we don't accidentally leak it
          echo "::add-mask::${api_token}"

          # see the next step in the workflow for an example of using this step output
          echo "api-token=${api_token}" >> "${GITHUB_OUTPUT}"

      - name: Run nx release
        run: nx release --yes
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASES_TOKEN_GITHUB }}
          NX_KEY: ${{ secrets.NX_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          UV_PUBLISH_TOKEN: ${{ steps.mint-token.outputs.api-token }}
