name: Test
on: [push]

jobs:
  test-dotfiles:
    name: Test dotfiles
    timeout-minutes: 60
    runs-on: macos-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      # For debugging https://github.com/marketplace/actions/debugging-with-tmate
    - uses: actions/checkout@v1
    - run: ./scripts/github_load_env.sh .envrc
    - run: env
    - run: |
        export CI_PASSWORD=""
        export BRANCH="$GIT_BRANCH"
        eval "$(cat ./dotfiles/bootstrap.sh)" < <(echo $CI_PASSWORD)
    - run: env
    - working-directory: ${{ env.SETUP_DOTFILES_DIR }}
      run: bundle install
    - working-directory: ${{ env.SETUP_DOTFILES_DIR }}
      run: rake spec
